@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
body{
	height: 100%;
	line-height: 1;
}
body{
	font-family: Rubik;
	font-size: 18px;
	background-color: #ccdafc;
	color: #616161;
}
/*-------------------------------------------------------------------*/
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"]{
	max-width:1300px;
	margin: 10px auto;
	padding: 0px 15px;
}
/*PC*/
@media(max-width: 1300px){
    [class*="__container"]{
    	max-width: 970px;
    }
}
/*TABLET*/
@media(max-width: 991.98px){
    [class*="__container"]{
    	max-width: 750px;
    }
}
/*MOBILE*/
@media(max-width: 767.98px){
	[class*="__container"]{
    	max-width:none;
    }
}
.header{
	background-color: #e6eeff;
	position: relative;
	opacity: 0.8;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 69;
}
.header__container{
	display: flex;
	min-height: 114px;
	align-items: center;
	position: sticky;
	top: 0;
}
.header__logo{
	position: relative;
	z-index: 5;
	display: flex;
	margin: 0px 40px 0px 0px;
	border-radius: 30px;
}
.header__icon{
	border-radius: 30px;
}
.header__title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.title-nft{
	font-size: 80px;
	margin: 0px 0px 0px 40px;
	text-decoration: blink;
	color: #a1adff;
}
.title-nft:hover{
	transform: scale(1.2);
}
.header__menu{
	flex: 1 1 auto;
}
.menu{
	display: flex;
	justify-content: flex-end;
}
.menu__list{
	display: flex;
}
.menu__item{
	margin: 0px 40px 0px 0px;
}
.menu__link{
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #616161;
}
.menu__link:hover{
	text-decoration: none;
	text-shadow:  #a1adff 1px 1px 12px;;
}
.menu__link:active{
	text-decoration: none;
}	
.main{
	flex: 1 1 auto;
}
.nft-based__container{
	/*padding: 50px 15px 10px 15px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: flex-end;*/

}
.nft-based__body{
	display: flex;
	align-items: center;
	margin: 20px 0px 0px 0px;
}
.nft-based__content{
	flex: 0 1 50%;
	padding: 0px 0px 0px 50px;
}
.nft-based__video{
	flex: 0 1 50%;
	padding: 0px 0px 25% 0px;
	position: relative;
	margin: 0px 0px 50px 0px;
}
.nft-based__video iframe{
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 60px;
	left: 0;
	object-fit: cover;
}
.block-text__title{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
	color: #4659e0;
	color:#6175ff;
	}
.nft-based__block-text{	
	max-width: 650px;
	margin: 0 auto;
}
.block-text__text{
	font-weight: 700;
	font-size: 64px;
	text-transform: uppercase;
}	
.text-logo{
	text-shadow: 2px 2px #ffd700;
}
.block-text__text_blue span{
	color:#3850ba;
	color:#7d8eff;
	font-weight: 900;
}
.footer{
}