@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
body{
	height: 100%;
	line-height: 1;
}
body{
	font-family: Rubik;
	font-size: 20px;
	background-color: #ccdafc;
	color: #616161;
}
input[type="checkbox"]{
	appearance: none;
}
/*-------------------------------------------------------------------*/
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"]{
	max-width:1300px;
	margin: 10px auto;
	padding: 0px 15px;
}
/*PC*/
@media(max-width: 1300px){
    [class*="__container"]{
    	max-width: 970px;
    }
}
/*TABLET*/
@media(max-width: 991.98px){
    [class*="__container"]{
    	max-width: 750px;
    }
}
/*MOBILE*/
@media(max-width: 767.98px){
	[class*="__container"]{
    	max-width:none;
    }
}
.header{
	background-color: #e6eeff;
	position:fixed;
	opacity: 0.8;
	width: 100%;
	top: 0;
	z-index: 69;
}
.header__container{
	position: relative;
	display: flex;
	min-height: 114px;
	align-items: center;
	position: relative;
	top: 0px;
}
.header__logo{
	position: relative;
	z-index: 5;
	display: flex;
	margin: 0px 40px 0px 0px;
	border-radius: 30px;
}
.header__icon{
	border-radius: 30px;
}
.header__title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.title-nft{
	font-size: 80px;
	padding: 0 50px 0px 30px;
	text-decoration: blink;
	color: #a1adff;
}
.title-nft:hover{
	transform: scale(1.2);
}
.header__menu{
	flex: 1 1 auto;
}
.menu{
	display: flex;
	justify-content: flex-end;
}
.menu__list{
	display: flex;
}
.menu__item{
	margin: 0px 40px 0px 0px;
}
.menu__link{
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #616161;
}
.menu__link:hover{
	text-decoration: none;
	text-shadow:  #a1adff 1px 1px 12px;
}
.menu__link:active{
	text-decoration: none;
}
/*ADAPTIVE------------------------------------------------------*/	
@media(max-width: 1300px){
	.header__title{
    	font-size: 40px;
    	margin: 0px 0px 0px 10px;
    }
}
@media(max-width: 992px){
    .header__container{
		min-height: 80px;
	}
	.header__logo{
		position: relative;
	    z-index: 5;
	    display: flex;
	    margin: 0px;
	    border-radius: 30px;
    }
	.header__logo{
		border-radius: 30px;
		width: 100px;
		height: 80px;
	}
	.menu__item{
    	margin: 0px 30px 0px 0px;
    	font-size: 12px;
    }
    .header__title{
    	font-size: 24px;
    	margin: 0px 0px 0px 10px;
    }
}
@media(max-width: 770px){
    .header__title{
    	display: none;
    }
    .header__menu{
		position: relative;
		
	}
    .header__logo a{
		position: relative;
		display: flex;
		margin: 0px;
		border-radius: 30px;
		width: 50%;
		index-z: 2;
    }
}
@media(max-width: 480px){
	.header__logo{
		margin-left: auto; 
		justify-content: flex-end;
	}
	#menu__toggle{
		opacity: 0;
	}
	.menu__btn {
	    display: flex; 
	    align-items: center;  
	    position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}
	/*burger*/
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 2px;
	    background-color: #616161;
	}
	.menu__btn > span::before {
	    content: '';
	    top: -8px;
	}
	.menu__btn > span::after {
	    content: '';
	    top: 8px;
	}
	.header__menu{
		visibility: hidden;
		display: flex;
        position: fixed;
        top: 0;
 		left: -100px;

 		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		color: black;
		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	.menu__btn {
		display: flex; 
		align-items: center;  
		position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}
	.menu__link {
		display: block;
		padding: 12px 24px;
		color: #333;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;

	}
	.menu__link:hover {
		background-color: #CFD8DC;
	}
	.menu__list{
		display: block;
	}
	.menu__body{
		margin: 0 auto;
	}
	.menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after{
    	display: block;
	    position: absolute;
	    width: 100%;
	    height: 2px;
	    background-color: #616161;
	}
	.menu__btn > span::before{
	    content: '';
	    top: -8px;
	}
	.menu__btn > span::after{
	    content: '';
	    top: 8px;
	}
	#menu__toggle:checked ~ .menu__btn > span{
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before{
		top: 0;
		transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after{
	    top: 0;
	    transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .header__menu{
	    visibility: visible;
	    left: 0;
	}

}
/*------------------------------------------------------*/	
.main{
	flex: 1 1 auto;
}
.nft-based__container{
	padding: 20px 15px 200px 15px;
	display: flex;
	align-items: center;
	max-width:1300px;
	margin: 10px auto 200px;
	margin-top: 40px;
	padding: 0px 15px;
}
.nft-based__body{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	/*margin: 0px auto;*/
	margin: 10px 10px 10px 10px;
}
.nft-based__content{
	flex: 0 1 50%;
	margin: 100px 0px 0px 100px;
	padding: 10px 0px 0px 50px;
	width: 100%;
}
.nft-based__video{
	flex: 0 1 50%;
	padding: 100px 0px 20% 0px;
	position: relative;
	margin: 0px 0px 0px 0px;
}
.nft-based__video iframe{
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 100px;
	left: 0;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	object-fit: cover;
}
.block-text__title{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 32px;
	text-shadow: 1px 2px 3px #a1adff;
	padding: 0px 0px 30px 0px;
	color: #fafcff;
	}
.nft-based__block-text{	
	max-width: 650px;
	margin: 0 auto;
}
.block-text__text{
	font-weight: 500;
	margin: 0px 0px 0px 0px;
}	
.text-logo{
	font-weight: 700;
	font-size: 64px;
	text-transform: uppercase;
	text-shadow: 2px 2px #ffd700;
}
.block-text__text_blue span{
	color:#3850ba;
	color:#7d8eff;
	font-weight: 900;
}
/*ADAPTIVE------------------------------------------------------*/	
@media(max-width: 1300px){
	.nft-based__content{
		margin: 100px 0px 0px 0px;
	}
	.text-logo{
		font-size: 50px;
	}
}
@media(max-width: 992px){
	.nft-based{
		padding-top: 30px;
	}
	.nft-based__container{
		margin-bottom: 100px;
	}
	.block-text__title{
		font-size: 36px;
	}
	.nft-based__video iframe{
		margin: 0px;
	}
	.block-text__title{
		padding: 0px;
		margin-top: 100px;
	}
	.text-logo{
		font-size: 48px;
	}
	.nft-based__content{
		margin: 10px 0px 20px 0px;
	}
}
@media(max-width: 770px){
	.nft-based{
		align-items: center;
		padding: 80px 0px 30px 0px;
	}
	.nft-based__video{
		align-items: center;
		padding: 0px 0px 58% 0px;
	}
	.nft-based__content{
		position: relative;
		padding: 10px;
		margin: 100px 0px 30px 0px;
	}
	.nft-based__container{
		align-items: stretch;
		flex-direction: column;
		margin: 10px auto 0px;

	}
	.nft-based__video iframe{
		margin: 0px auto;
	}
	.text-logo{
		font-size: 48px;
	}
}
@media(max-width: 480px){
	.nft-based__content{
		margin-bottom: 100px;
		margin-top: 100px;
	}
}
/*------------------------------------------------------*/
.history__container{
	padding: 100px 15px 50px 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: -100px;
}
.history__content{
	text-align: justify;
	margin: 10px auto -50px;
	padding: 0px 0px 0px 0px;
	top: -50px;
}
.history__block-text{
	position:relative ;
	top: -20px;
    margin: 10px 0px -10px 0px;
}
.history-img{
	align-items: center;
	display: block;
	margin: 40px auto 20px;
	width: 80%;
	height: 80%;
	box-shadow: 0 0 30px rgba(171, 176, 184, 1.0); 
	border-radius: 5px;
}
.history__hockey-tools-img{
	margin: 50px 0px -300px 10px;
}
.stick{
	position: relative;
	float: right;
	right: -120px;
	top: -100px;
	width: 80%;
	height: 30%;
	z-index: 5;
	margin-bottom: 25px;
}
.puck{
	position: relative;
	float: right;
	margin: -10px -50px 0px 0px;
	transform: scaleX(-1);
	width: 300px;
	height: 50%; 
	z-index: 2;
	top: -200px;
}
.title{
	text-align: center;
}
/*ADAPTIVE------------------------------------------------------*/  
@media(max-width: 1550px){
	.stick{
		display: none;
	}
}
@media(max-width: 1300px){
	.history__container{
	    padding-top: 30px;
	    margin-bottom: 100px;
	}
	.history__hockey-tools-img{
	    display: none;
	}
}
@media(max-width: 992px){
	.history__container{
	    padding-top: 30px;
	    margin-bottom: 100px;
	}
	.block-text__title{
	    margin-top: 20px;
	}
	.puck{
	    width: 150px;
	    position: relative;
	    float: right;
	    margin: 0px 0px 0px 0px;
	    z-index: 2;
	    top: -100px;
	}
}
@media(max-width: 770px){
	.history__container{
	    padding-top: 0px;
	 }
	.block-text__title{
		margin-top: 20px;
	}
	.puck{
		width: 150px;
	    position: relative;
	    float: right;
	    margin: 0px 0px 0px 0px;
	    z-index: 2;
	    top: -100px;
	}
}
@media(max-width: 480px){
	.puck{
		width: 100px;
	    position: relative;
	    float: right;
	    margin: 0px 0px 0px 0px;
	    z-index: 2;
	    top: -100px;
	  }
	.history__content{
	  	line-height: 32px;
	}
}
/*------------------------------------------------------*/
.roadmap__container{
	margin: 10px auto 50px;
}
.nft-map{
	position: relative;
	margin: 0px auto;
}
.nft-map__title{
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
.nft-map__title_center{
	text-align: center;
}
.nft-map__item{
	margin: 0px 50px 0px 50px;
}
.nft-map__roadmap-list{
	color: #7d8eff;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	margin: 20px 0px 0px 0px;
	display: flex;
	justify-content: space-around;
}
.roadmap-img{
	padding: 20px 0px 0px 0px;
	width: 100%;
	margin: 40px auto 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}	
.roadmap-img img{
	margin: 0px 10px 0px 10px;
}
/*ADAPTIVE----------------------------------------------*/
@media(max-width: 1300px){
	.roadmap-img img{
		width: 1000px;
	}
}
@media(max-width: 1068px){
	.roadmap-img img{
		width: 900px;
	}
}
@media(max-width: 992px){
	.roadmap-img img{
		width: 700px;	
	}
}
@media(max-width: 770px){
	.roadmap-img img{
		width: 700px;
	}
}
@media(max-width: 735px){
	.roadmap-img img{
		width: 650px;
	}
}
@media(max-width: 682px){
	.roadmap-img img{
		width: 500px;
	}
}
@media(max-width: 480px){
	.roadmap-img img{
		width: 450px;
	}
	.nft-map{
	  	margin-top: 20px;
	}
}
/*------------------------------------------------------*/
.team{
	margin-bottom: 100px;
}
.title-team{
	justify-content: center;
	max-width:1300px;
	margin: 10px auto;
	padding: 0px 15px;
	padding-top:100px;
}
.team_member{
	margin: 100px 50px 30px 50px;
	padding: 20px;
	text-align: center;
	background: white;
	border-radius: 15px;
	padding: 100px 20px 30px 20px;
	width: 300px;
	line-height: 20px;
	letter-spacing: normal;
	color: #8e8b8b;
	position: relative;
	box-shadow: 0 0 10px rgba(125, 142, 255, 1.0); 
}	
.team_member p.role{
	color: #ccc;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
}
h3{
	font-weight: bolder;
}
.team__container{
	display: flex;
	justify-content: center;
	
	text-align: center;
	flex-wrap:wrap;
	flex-direction: row;
	width: auto;
}
.team_img{
	width: 200px;
	height: 200px;
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translate(-50%);
}
.team_img img:hover{
	box-shadow: 0 0 15px rgba(255, 217, 0, 1.0); 
}
.team_img img{
	width: 90%;
	height: 90%;
	border-radius: 50%;
	box-shadow: 0 0 35px rgba(171, 176, 184, 1.0); 
}
p span{
	color: #7d8eff;
	font-weight: 520;
}
.fab{
	color: #7d8eff;
	text-shadow: 2px 2px #ffd700;
    margin-top: 10px;
}
.social .fab{
    color: #7d8eff;
	text-shadow: 2px 2px #fff;
}
/*ADAPTIVE----------------------------------------------*/
@media (max-width: 1300px){
	.team_member{
		width: 200px;
	}
	.team_img{
		width: 150px;
		height: 150px;
		top: -80px;
	}
}
/*------------------------------------------------------*/
.footer{
	padding: 40px 0;
	background-color: #a4bdfc;
}
.footer .social{
	text-align: center;
	word-spacing: 5px;
	padding-bottom: 25px;
}
.footer ul li{
	display: inline-block;
	padding: 0 15px;
}
.footer ul{
	text-align: center;
}
.list a{
	font-family: Raleway;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	list-style: none;
	letter-spacing: 1px;
	color: #616161;
	opacity: 0.8;
}
.list a:hover{
	text-shadow:  #ffd700 1px 1px 12px;
	text-decoration: none;
	opacity: 1;
}
.copyright{
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	opacity: 0.9;
}


