@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
body{
	height: 100%;
	line-height: 1;
}
body{
	font-family: Rubik;
	font-size: 20px;
	background-color: #ccdafc;
	color: #616161;
}
/*-------------------------------------------------------------------*/
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"]{
	max-width:1300px;
	margin: 10px auto;
	padding: 0px 15px;
}
/*PC*/
@media(max-width: 1300px){
    [class*="__container"]{
    	max-width: 970px;
    }
}
/*TABLET*/
@media(max-width: 991.98px){
    [class*="__container"]{
    	max-width: 750px;
    }
}
/*MOBILE*/
@media(max-width: 767.98px){
	[class*="__container"]{
    	max-width:none;
    }
}
.header{
	background-color: #e6eeff;
	position: fixed;
	opacity: 0.8;
	width: 100%;
	top: 0;
	z-index: 69;
}
.header__container{
	position: relative;
	display: flex;
	min-height: 114px;
	align-items: center;
	position: relative;
	top: 0px;
}
.header__logo{
	position: relative;
	z-index: 5;
	display: flex;
	margin: 0px 40px 0px 0px;
	border-radius: 30px;
}
.header__icon{
	border-radius: 30px;
}
.header__title{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.title-nft{
	font-size: 80px;
	margin: 0px 0px 0px 40px;
	text-decoration: blink;
	color: #a1adff;
}
.title-nft:hover{
	transform: scale(1.2);
}
.header__menu{
	flex: 1 1 auto;
}
.menu{
	display: flex;
	justify-content: flex-end;
}
.menu__list{
	display: flex;
}
.menu__item{
	margin: 0px 40px 0px 0px;
}
.menu__link{
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #616161;
}
.menu__link:hover{
	text-decoration: none;
	text-shadow:  #a1adff 1px 1px 12px;;
}
.menu__link:active{
	text-decoration: none;
}
/*ADAPTIVE------------------------------------------------------*/	
@media(max-width: 991.98px){
    .header__container{
		min-height: 80px;
	}
	.header__logo{
	position: relative;
	z-index: 5;
	display: flex;
	margin: 0px 0px 0px 0px;
	border-radius: 30px;
    }
	.header__icon{
		border-radius: 30px;
		width: 80%;
	}
	.menu__item{
    	margin: 0px 30px 0px 0px;
    	font-size: 12px;
    }
    .header__title{
    	font-size: 32px;
    	margin: 0px 0px 0px 10px;
    }
}
@media(max-width: 767.98px){
    .header__logo{
		position: relative;
		display: flex;
		margin: 0px 0px 0px 0px;
		border-radius: 30px;
		width: 50%;
		index-z: 2;
    }
}
@media(max-width: 479.98px){
	.header__title{
		display: none;
	}
	.header__logo{
		position: relative;
		width: 70px;
		height: 70px;
	}
}
/*------------------------------------------------------*/	
.main{
	flex: 1 1 auto;
}
.nft-based__container{
	/*padding: 20px 15px 20px 15px;
	text-align: justify;*/
	margin: 0px 0px 0px 100px;
	padding: 20px 15px 50px 15px;
	display: flex;
	align-items: center;
}
.nft-based__body{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	/*margin: 0px auto;*/
	margin: 10px 10px 10px 10px;
}
.nft-based__content{
	flex: 0 1 50%;
	margin: 100px 0px 0px 100px;
	padding: 10px 0px 0px 50px;
	width: 100%;
}
.nft-based__video{
	flex: 0 1 50%;
	padding: 0px 0px 30% 0px;
	position: relative;
	margin: 0px 0px 100px -50px;
}
.nft-based__video iframe{
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 100px;
	left: 0;
	margin: 100px 0px 0px 100px;
	padding: 0px 0px 0px 0px;
	object-fit: cover;
}
.block-text__title{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 32px;
	text-shadow: 1px 2px 3px #a1adff;
	padding: 0px 0px 30px 0px;
	color: #4659e0;
	color:#6175ff;
	color: #fafcff;
	}
.nft-based__block-text{	
	max-width: 650px;
	margin: 0 auto;
}
.block-text__text{
	font-weight: 500;
	margin: 0px 0px 0px 0px;
}	
.text-logo{
	font-weight: 700;
	font-size: 64px;
	text-transform: uppercase;
	text-shadow: 2px 2px #ffd700;
}
.block-text__text_blue span{
	color:#3850ba;
	color:#7d8eff;
	font-weight: 900;
}
/*------------------------------------------------------*/
.history__container{
	padding: 100px 15px 50px 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.history__content{
	text-align: justify;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}
.history-img{
	float: right;
	margin: 0px 0px 10px 10px;
	margin-right: 10px;
	width: 48%;
	box-shadow: 0 0 30px rgba(171, 176, 184, 1.0); 
}
.history__hockey-tools-img{
	margin: 50px 0px -100px 10px;
}
.stick{
	position: relative;
	width: 100%;
	height: 50%;
	z-index: 5;
	}
.puck{
	position: relative;
	width: 90%;
	height: 50%; 
	transform: scaleX(-1);
	z-index: 2;
	top: -200px;
}
.footer{
}